<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LocalMUNManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network">
        <network
          host="mail.caislisbon.org"
          port="25" enableSsl="true"
          defaultCredentials="false"
          userName="marco.costa" password="Noth1ngham"
        />
      </smtp>
    </mailSettings>
  </system.net>
  <userSettings>
    <LocalMUNManager.Properties.Settings>
      <setting name="ServerRootPath" serializeAs="String">
        <value>\\caislvs-005\MUN data\</value>
      </setting>
      <setting name="OutputPath" serializeAs="String">
        <value />
      </setting>
    </LocalMUNManager.Properties.Settings>
  </userSettings>
</configuration>